@font-face {
  font-family: domain;
  src: url(/assets/Domain.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #c4bdb3;
  position: relative;
}

#nav {
  display: flex;
  height: 85px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #222;
}

#nav img {
  height: 29px;
  width: 30%;
}

#nav h5 {
  font-size: 15px;
  font-weight: 100;
  width: 30%;
}

#nav i {
  width: 30%;
  text-align: right;
}

#elems {
  height: 430px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  padding: 40px 60px;
}

#elem1 {
  height: 100%;
  width: 30%;
}

#elem2 {
  height: 100%;
  width: 30%;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  padding: 20px 60px;
  text-align: center;
}

#elem3 {
  height: 100%;
  width: 30%;
}

#elem1 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border: 1px solid #222;
}

#image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
}

#elem3 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border: 1px solid #222;
}

#image-div:hover img {
  scale: 1.1;
}

#elem1 h4 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: canopee;
}

#elem1 h4 span {
  background-color: #b73b12;
  color: #c4bdb3;
  padding: 2px;
  font-weight: 100;
  border-radius: 4px;
  font-size: 18px;
  padding: 4px;
  margin-left: 10px;
}

#elem1 p {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: domain;
  color: #3b3b3b;
}

#elem3 h4 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: canopee;
}

#elem3 h4 span {
  background-color: #b73b12;
  color: #c4bdb3;
  padding: 2px;
  font-weight: 100;
  border-radius: 4px;
  font-size: 18px;
  padding: 4px;
  margin-left: 10px;
}

#elem3 p {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: domain;
  color: #3b3b3b;
}

#elem2 h2 {
  font-weight: 300;
  font-size: 50px;
  font-family: canopee;
}

#elem2 h3 {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: domain;
  color: #292828;
  margin: 30px 0px;
  font-weight: 200;
  padding: 10px;
}

#elem2 h6{
  font-family: domain;
  font-size: 20px;
  color: #2f2f2f; 
  font-weight: 100;

  padding: 2px;
}

#elem2 h6 span{
  font-weight: 500;
  font-style: bold;
  color: black;
}

h1{
  font-size: 750;
}
