@font-face {
  font-family: domain;
  src: url(/assets/Domain.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#wrapper {
  background-color: #1c1c19;
  overflow-x: hidden;
}

#page1 {
  height: 120vh;
  width: 100vw;
  background-color: #c4bdb3;
  position: relative;
  overflow: hidden;
}

#nav {
  display: flex;
  height: 85px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #222;
}

#nav img {
  height: 29px;
  width: 30%;
}

#nav h5 {
  font-size: 15px;
  font-weight: 100;
  width: 30%;
}

#nav i {
  width: 30%;
  text-align: right;
}

#elems {
  height: 430px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  padding: 40px 60px;
}

#elem1 {
  height: 100%;
  width: 30%;
}

#elem2 {
  height: 100%;
  width: 30%;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  padding: 20px 60px;
  text-align: center;
}

#elem3 {
  height: 100%;
  width: 30%;
}

#elem1 #image-div {
  height: 55%;
  width: 100%;
  overflow: hidden;
  border: 1px solid #222;
}

#image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
}

#elem3 #image-div {
  height: 55%;
  width: 100%;
  overflow: hidden;
  border: 1px solid #222;
}

#image-div:hover img {
  scale: 1.1;
}

#elem1 h4 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: canopee;
}

#elem1 h4 span {
  background-color: #b73b12;
  color: #c4bdb3;
  padding: 2px;
  font-weight: 100;
  border-radius: 4px;
  font-size: 18px;
  padding: 4px;
  margin-left: 10px;
}

#elem1 p {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: domain;
  color: #3b3b3b;
}

#elem3 h4 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: canopee;
}

#elem3 h4 span {
  background-color: #b73b12;
  color: #c4bdb3;
  padding: 2px;
  font-weight: 100;
  border-radius: 4px;
  font-size: 18px;
  padding: 4px;
  margin-left: 10px;
}

#elem3 p {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: domain;
  color: #3b3b3b;
}

#elem2 h2 {
  font-weight: 300;
  font-size: 50px;
  font-family: canopee;
}

#elem2 h3 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: domain;
  color: #292828;
  margin: 20px 0px;
  font-weight: 250;
  padding: 10px;
}

#elem2 h6 {
  font-family: domain;
  font-size: 20px;
  color: #2f2f2f;
  font-weight: 100;

  padding: 2px;
}

#elem2 h6 span {
  font-weight: 500;
  font-style: bold;
  color: black;
}

#page1 h1 {
  font-size: 510px;
  letter-spacing: -15px;
  font-family: canopee;
  background-color: #1c1c19;
  color: #c4bdb3;
  font-weight: 100;
  line-height: 420px;
  width: 98%;
  margin-left: 1%;
  padding-left: 12px;
}

#page2 {
  height: 150vh;
  width: 100%;
  background-color: #c4bdb3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 30px;
}

#page2-left {
  height: 100%;
  width: 35%;
  /* background-color: #b73b12; */
  padding-right: 30px;
  border-right: 1px solid #222;
}

#page2-left h2 {
  font-size: 100px;
  font-family: canopee;
  /* text-align: center; */
  line-height: 120px;
  font-weight: 200;
  letter-spacing: -3px;
}

#page2-left h2 span {
  font-size: 150px;
  font-weight: 700;
  letter-spacing: 0px;
}

#page2-left img {
  height: 45%;
  object-fit: cover;
  width: 100%;
  border: 1px solid #222;
}

#page2-left p {
  font-size: 34px;
  font-family: domain;
  color: #1c1c19;
  margin-top: 20px;
}

/* #page2-left p span{
  font-size: 2em;
  background-color: #1c1c19;
  color: #c4bdb3;
  padding: 7px;
} */

#page2-right {
  height: 100%;
  width: 70%;
  padding: 0 40px;
}

#page2-right img {
  height: 45%;
  width: 100%;
  object-fit: cover;
  border: 1px solid #222;
}

#page2-right h1 {
  font-family: canopee;
  font-size: 120px;
  letter-spacing: -5px;
  font-weight: 100;
}

#page-3 {
  position: relative;
  background-color: #c4bdb3;
  padding-bottom: 100px;
}

#page-3 h1 {
  background-color: #1c1c19;
  color: #c4bdb3;
  font-size: 400px;
  font-weight: 150;
  letter-spacing: -10px;
  font-family: canopee;
  width: fit-content;
  margin-left: 2%;
  padding: 0 20px;
  padding-right: 30px;
  line-height: 350px;
}

#page-3 img {
  height: 350px;
  position: absolute;
  top: 0;
  right: 4%;
}

#page4 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #c4bcb3;
}

#page4-left {
  width: 65%;
  height: 100%;
  padding: 0px 30px;
  padding-bottom: 60px;
}

#page4-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1px solid #222;

}

#page4-right {
  width: 35%;
  height: 100%;
  padding: 0px 20px;
  position: relative;
}

#page4-right h1 {
  font-size: 100px;
  font-family: canopee;
  font-weight: 100;
  color: #2f2f2f;
  /* margin-bottom: 50px; */
  line-height: 120px;
}

#page4-right h1 span{
  font-size: 210px;
  letter-spacing: -5px;
}

#page4-right p {
  font-size: 24px;
  font-family: domain;
  font-weight: 100;
  color: #2f2f2f;
  margin-bottom: 50px;
  line-height: 30px;
}

#page4-right #anda {
  position: absolute;
  height: 150px;
  background-color: #cac1b6;
  border: 1px solid #2f2f2fc6;
  border-radius: 50%;
  width: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  left: 15%;

}

#anda h1 {
  font-size: 60px;
  font-weight: 100;
  font-family: canopee;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-28%);
  transition: all ease 0.5s;
}

#anda img {
  height: 40px;
  transition: all ease 0.5s;

  transform: translateX(-128%);
}

#anda:hover img {
  transform: translateX(80%);
}

#anda:hover h1 {
  transform: translateX(100%);
}

#page5{
  background-color: #cac1b6;
  border-top: 1px solid #222;


}

#page6 {
  padding: 25px 0;
  width: 100%;
  background-color: #C4BCB3;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#page6::-webkit-scrollbar {
  display: none;
}

#page6 h1 {
  font-size: 100px;
  font-family: domain;
  font-weight: 100;
  display: inline-block;
  animation-timing-function: linear;
  margin-right: 30px;
  animation-name: scroll;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
}

#page6 h1 span {
  font-family: canopee;
  background-color: #1b1b1b;
  color: #C4BCB3;
  padding: 0 12px;
}

#page7 {
  height: 100px;
  width: 100%;
  background-color: #C4BCB3;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(calc(-100% - 34px));
  }
}

#page6:hover h1{
  animation-play-state: paused;
}